@model starwarsapp.Models.films

@{
    ViewBag.Title = "Films";
}

<h2>Films</h2>

<table class="table">
    <tr>
        <th>
            Following are the @Model.count.ToString() Star wars films
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            Search:&nbsp;<input id="txtsearchfilm" type="text" class="form-control" />
        </td>
    </tr>

    @foreach (var item in Model.results)
    {
        <tr movietitle="@item.title @item.opening_crawl" class="movietr">
            <td style="padding:10px">
                @Html.ActionLink(item.title, "filmdetails", new { id = item.url.Replace("http://swapi.dev/api/films/", "").Replace("/", "") }, new { @class = "form-control" })
            </td>
        </tr>
    }

</table>
